@font-face {
  font-family: "{{ fontFamily }}";
  font-style: normal;
  font-weight: normal;
  src: url("{{ fontUrl }}");
}

body {
  font-family: "{{ fontFamily }}";
  line-height: {{ lineHeight }};
}

p {
  color: {{ fontColor }};
}

